@using HiWorld.Web.ViewModels.Pages;
@model DisplayPageViewModel
@{
    this.ViewData["Title"] = $"{Model.Name}";
    this.Layout = "_NoContainersLayout";
}


<div class="d-flex flex-column align-items-center profile-header">
    <div class="d-flex flex-column align-items-center w-100 pt-5 info-block profile-name">
        <section class="img-container">
            @if (Model.ImagePath == null)
            {
                <img src="/img/users/default.png" class="img-thumbnail rounded-circle mx-auto d-block" alt="Profile Picture" />
            }
            else
            {
                <img src="/img/pages/@Model.ImagePath" class="img-thumbnail rounded-circle mx-auto d-block" alt="Profile Picture" />
            }
        </section>
        <h1 class="mb-4">@Model.Name</h1>
    </div>
    <section class="container d-flex flex-row justify-content-between pt-3">
        <div class="col-md-5">
            @if (string.IsNullOrWhiteSpace(Model.Description))
            {
                <p><b>About: </b>There is no description for this page.</p>
            }
            else
            {
                <p><b>About: </b>@Model.Description</p>
            }
        </div>
        <div class="col-md-4">
            @if (string.IsNullOrWhiteSpace(Model.Email))
            {
                <p>No email</p>
            }
            else
            {
                <p><b>Email: </b>@Model.Email</p>
            }
            @if (string.IsNullOrWhiteSpace(Model.Phone))
            {
                <p>No phone number</p>
            }
            else
            {
                <p><b>Phone number: </b>@Model.Phone</p>
            }
        </div>
        <div class="col-md-3">
            <p><b>Followers: </b>@Model.PageFollowersCount</p>
            <p>
                <b>Tags: </b>
                @if (Model.PageTags.Count > 0)
                {
                    @foreach (var tag in Model.PageTags)
                    {
                        <a asp-controller="Tags" asp-action="ById" asp-route-id="@tag.Key">#@tag.Value </a>
                    }
                }
                else
                {
                    <text>No tags</text>
                }
            </p>
        </div>
    </section>
    <section class="container d-flex flex-row justify-content-around pb-3 mt-2">
        @if (Model.IsOwner)
        {
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit Page</a>
            <a class="btn btn-primary" asp-controller="Posts" asp-action="CreateForPage" asp-route-id="@Model.Id">Create New Post</a>
        }
        else
        {
            if (!Model.IsFollowing)
            {
                <form asp-action="Follow" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-primary">Follow</button>
                </form>
            }
            else
            {
                <form asp-action="Follow" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-secondary">Unfollow</button>
                </form>
            }
        }
    </section>
</div>

<div class="profile-container">
    <div class="mx-auto col-md-6">
        @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
        {
            <div class="card mt-3">
                @if (Model.IsOwner)
                {
                    <div class="card-header text-right p-1">
                        <form class="deleteButton" asp-controller="Posts" asp-action="DeleteFromProfile" asp-route-id="@post.Id" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                }

                <partial name="_PostPartial" model="post" />
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/js/posts.js" asp-append-version="true"></script>
}