@using HiWorld.Web.ViewModels.Posts;
@model CreatePostInputModel
@{
    ViewData["Title"] = "Create Post";
    var actionName = string.Empty;

    if (Model.IsProfile)
    {
        actionName = "CreateForProfile";
    }
    else
    {
        actionName = "CreateForPage";
    }
}

<h1>@ViewData["Title"]</h1>
<form asp-action="@actionName" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group" id="TagsContainer">
        <label asp-for="Tags"></label>
        <a class="btn btn-outline-success ml-2" onclick="AddTagField()">+</a>
        <a class="btn btn-outline-danger ml-2 px-3" onclick="RemoveTagField()">-</a>
    </div>
    <input type="hidden" name="ReturnId" value="@Model.ReturnId" />
    <button type="submit" class="btn btn-primary">Create</button>

    @if (Model.IsProfile)
    {
        <a asp-controller="Profiles" asp-action="ById" asp-route-id="@Model.ReturnId">Cancel</a>
    }
    else
    {
        <a asp-controller="Pages" asp-action="ById" asp-route-id="@Model.ReturnId">Cancel</a>
    }
</form>

@section Scripts{
    <script src="/js/tags.js" current-tags="0"></script>
}
