@using HiWorld.Web.ViewModels.Profiles;
@model DisplayProfileViewModel
@{
    this.ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
    this.Layout = "_NoContainersLayout";
}


<div class="d-flex flex-column align-items-center profile-header">
    <div class="d-flex flex-column align-items-center w-100 pt-5 info-block profile-name">
        <section class="img-container">
            @if (Model.ImagePath == null)
            {
                <img src="/img/users/@GlobalConstants.DefaultImage" class="img-thumbnail rounded-circle mx-auto d-block" alt="Profile Picture" />
            }
            else
            {
                <img src="/img/users/@Model.ImagePath" class="img-thumbnail rounded-circle mx-auto d-block" alt="Profile Picture" />
            }
        </section>
        <h1 class="mb-4">@Model.FirstName @Model.LastName</h1>
    </div>
    <section class="container d-flex flex-row justify-content-between pt-3">
        <div class="col-md-5">
            @if (string.IsNullOrWhiteSpace(Model.About))
            {
                <p><b>About: </b>There is no about information for this user.</p>
            }
            else
            {
                <p><b>About: </b>@Model.About</p>
            }
        </div>
        <div class="col-md-4">
            <p><b>Birthday: </b>@Model.BirthDate.ToString("dd/MM/yyyy")</p>
            <p><b>Gender: </b>@Model.Gender</p>
            <p><b>Country: </b>@Model.CountryName</p>
        </div>
        <div class="col-md-3">
            <p><b>Friends: </b>@Model.FriendsCount</p>
            <p><b>Followers: </b>@Model.FollowersCount</p>
        </div>
    </section>
    <section class="container d-flex flex-row justify-content-around pb-3 mt-2">
        @if (Model.IsOwner)
        {
            <a class="btn mx-1 btn-primary" asp-area="" asp-action="Edit">Edit Profile</a>
            <a class="btn mx-1 btn-primary" asp-area="" asp-controller="Posts" asp-action="CreateForProfile">Create New Post</a>
            <a class="btn mx-1 btn-primary" asp-area="" asp-controller="Friends" asp-action="FriendRequests">Friend Requests</a>
            <a class="btn mx-1 btn-primary" asp-area="" asp-controller="Friends" asp-action="FriendsList">Friends List</a>
            <a class="btn mx-1 btn-primary" asp-area="" asp-controller="Pages" asp-action="Create">Create Page</a>
            <a class="btn mx-1 btn-primary" asp-area="" asp-controller="Pages" asp-action="MyPages">My Pages</a>
            <a class="btn mx-1 btn-primary" asp-area="Identity" asp-controller="Account" asp-action="Manage">Manage Account</a>
        }
        else
        {
            if (Model.IsPending)
            {
                <a class="btn btn-secondary">Pending Request</a>
                <form asp-controller="Friends" asp-action="RemoveFriend" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-danger">Remove Friend</button>
                </form>
            }
            else if (!Model.IsFriend)
            {
                <form asp-controller="Friends" asp-action="AddFriend" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-success">Add Friend</button>
                </form>
            }
            else
            {
                <a class="btn btn-info">Friends</a>
                <form asp-controller="Friends" asp-action="RemoveFriend" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-danger">Remove Friend</button>
                </form>
            }

            if (!Model.IsFollowing)
            {
                <form asp-action="Follow" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-primary">Follow</button>
                </form>
            }
            else
            {
                <form asp-action="Follow" asp-route-id="@Model.Id" method="post">
                    <button class="btn btn-secondary">Unfollow</button>
                </form>
            }
        }
    </section>
</div>

<div class="profile-container">
    <div class="container">
        <div class="mx-auto col-md-8">
            @foreach (var post in Model.Posts.OrderByDescending(x => x.CreatedOn))
            {
                <div class="card mt-3">
                    @if (Model.IsOwner)
                    {
                        <div class="card-header text-right p-1">
                            <form class="deleteButton" asp-controller="Posts" asp-action="DeleteFromProfile" asp-route-id="@post.Id" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    }

                    <partial name="_PostPartial" model="post" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/posts.js" asp-append-version="true"></script>
}